@model User

<form method="post" class="text-center col-3">
    <div asp-validation-summary="ModelOnly" class="text-danger font-weight-bold"></div>
    <div class="mb-3">
        <label>Регистрация</label>
    </div>
    <div class="mb-3">
        <label asp-for="Login">Логин</label>
        <input asp-for="Login" type="text" class="form-control" placeholder="Логин">
        <span asp-validation-for="Login"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password">Пароль</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Пароль">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ConfirmPassword">Подтвердите пароль</label>
        <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Подтвердите пароль">
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </div>
</form>
