<form method="post" class="text-center col-3">
    <div class="mb-3">
        <label>Регистрация</label>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="login" placeholder="Логин">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="password1" placeholder="Пароль">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="password2" placeholder="Подтвердите пароль">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </div>
</form>