@model Product

<div class="row">
    <img class="col-6" src=@Model.ImagePath>
    <div class="col-6">
        <p>@Model.Name</p>
        <p>@Model.Cost</p>
        <p>@Model.Description</p>
        <a class="btn btn-dark" href="/product/catalog">Продолжить покупки</a>
        <a class="btn btn-dark" href="/cart/add?productid=@Model.Id">Добавить в корзину</a>
    </div>
</div>