<form method="post" class="text-center col-3">
    <div class="mb-3">
        <label>Добавить новый продукт</label>
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="name" placeholder="Название">
    </div>
    <div class="mb-3">
        <input type="number" class="form-control" name="cost" placeholder="Цена">
    </div>
    <div class="mb-3">
        <input type="text" class="form-control" name="description" placeholder="Описание">
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>