<div class="col-3">
    <a class="row" href="/admin/orders">Заказы</a>
    <a class="row" href="/admin/users">Пользователи</a>
    <a class="row" href="/admin/roles">Роли</a>
    <a class="row" href="/admin/products">Продукты</a>
</div>