@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Проект для прохождения курса по ASP.NET Core</h1>
    <h2>
        <a href="https://github.com/ddkhugaev/WebApplicationCourse">GitHub</a>
    </h2>
</div>
